<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Generate Playist</title>
  <link rel="stylesheet" href="static/playlist.css">
</head>

<body>
  <nav>
    <h1 id="heading"><span id="s">S</span>ORTIFY</h1>
    <div class="my-profile">
      <a href="#">My Profile</a>
    </div>
  </nav>
  <div class="body">
    
    <form action="/showSentiment">
      <input type="submit" value="Sentiment Analysis">
    </form>
    <form> &emsp;
      <input type="submit" value="Genre Classification">
    </form>
    


  </div>
  <footer>
    <button>Create Playlist</button>
    <button>Home</button>
    <button>Your Library</button>
  </footer>
</body>

</html>